<div id="wizard" class="form_wizard wizard_horizontal">

    {{ include('auth/campaigns/_partials/wizard/steps.twig') }}

    {#{{ include('auth/campaigns/_partials/wizard/step_1.twig') }}#}

    {{ include('auth/campaigns/_partials/wizard/step_2.twig') }}

    {#{{ include('auth/campaigns/_partials/wizard/step_3.twig') }}#}

    {#{{ include('auth/campaigns/_partials/wizard/step_4.twig') }}#}

</div>
