{% extends 'auth/layouts/master.twig' %}

{% block title %}Edit Ngo | ID: {{ ngo.id }}{% endblock %}

{% block styling %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/_all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.css"
          rel="stylesheet">
{% endblock styling %}

{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    {{ form.model(ngo, {
                        'action' : '/ngos/' ~ ngo.id ~ '/update',
                        'class': 'form-horizontal form-label-left'
                    })|raw }}

                    {{ form.hidden('id', ngo.id)|raw }}

                    {{ include('auth/ngos/_partials/form.twig') }}

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>

                    {{ form.close()|raw }}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripting %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>
    <script src="/vendors/jQuery-Smart-Wizard/jquery.smartWizard.js"></script>
    <script>
        $(document).ready(function () {

            $('#wizard').smartWizard({
                hideButtonsOnDisabled: true,
                onFinish: function () {
                    $(this).closest("form").submit();
                }
            });

            $('#wizard_verticle').smartWizard({
                transitionEffect: 'slide'
            });

            $('.buttonNext').addClass('btn btn-success');
            $('.buttonPrevious').addClass('btn btn-primary');
            $('.buttonFinish')
                    .addClass('btn btn-default')
            ;

            $('.date-picker')
                    .daterangepicker({
                        timePicker: true,
                        timePicker24Hour: true,
                        singleDatePicker: true,
                        timePickerIncrement: 15,
                        locale: {
                            format: 'Y-M-D HH:mm:ss'
                        }
                    });
        });
    </script>
{% endblock scripting %}
